.tasks {
  display: flex;
  flex-direction: column;


  .add-task-btn {
    align-self: flex-end;
  }

  .tasks-list {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 768px) {
      padding: 1rem 0;
      gap: 0.75rem;
    }
  }
}