.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

    .pages {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;
        gap: 0.75rem;

        .pages {
            order: -1;
            width: 100%;
            justify-content: center;
        }
    }
}